/* based off material theme ocean high contrast */
:root {
    --sidebarAnim: 0ms ease-in-out;
    --none: #00000000;

    --gradient1: linear-gradient(rgb(65, 88, 132), rgb(113, 108, 121));
    --gradient2: linear-gradient(#8FC5FC, #DDB3D9, #FE97AB, #FEB1A3, #FCCA9F);
    --gradient: var(--border);
    --linkDefault: var(--clrs-basic-purple);

    --bg-header: #ffffff;
    --bg-main: #dcdcdc;
    --bg-item: var(--bg-header);
    --border: #939393;

    --text-main: #000000;
    --text-other: #545454;
    --text-highlight: var(--clrs-basic-blue);
    --text-link: var(--clrs-basic-purple);
    --text-linkHover: var(--clrs-basic-orange);
    --icon-default-highlight: black;

    --highlight: #cdcdcd;
    --highlightAlt: #9e9e9e;

    --h1: var(--clrs-basic-blue);
    --h2: var(--clrs-basic-green);
    --h3: var(--clrs-basic-blue);
    --h4: var(--clrs-basic-blue);
    --h5: var(--text-main);
    --h6: var(--text-main);

    --scrollbar: var(--clrs-basic-yellow) var(--bg-main) !important;

    
    --alert-note: var(--clrs-basic-blue);
    --alert-tip: var(--clrs-basic-green);
    --alert-important: var(--clrs-basic-purple);
    --alert-warning: var(--clrs-basic-orange);
    --alert-caution: var(--clrs-basic-red);
    --blockquote-border: var(--clrs-basic-blue);
    --codeInline: var(--clrs-basic-blue);
    --codeInline-bg: #d1d1d1;
    --codeTableHeader: var(--clrs-basic-blue);
    --codeTableCell: var(--clrs-basic-blue);
    --mark-text: var(--text-main);
    --mark-bg: var(--clrs-basic-green);
    --table-even: #bfc0c4;


    --checkboxOn: var(--clrs-basic-green);
    --checkboxOff: var(--clrs-basic-red);
    --maximise: var(--clrs-basic-green);
    --minimise: var(--clrs-basic-red);
    
    --navSocialGlow: #000;
    --navSocialGlowText: var(--clrs-neon-mint);
    --navbar-dropdown-hover: var(--clrs-basic-green);
    --navbar-address-hover: var(--clrs-neon-mint);
    --navbar-address-hover-text: #000;
    --sidebar-parent: var(--clrs-basic-blue);
    --sidebar-active: var(--clrs-basic-green);
    --sidebar-hover: var(--clrs-basic-blue);
    
    --glow-text: 0 0 20px #fff, 0 0 40px var(--clrs-basic-yellow), 0 0 20px var(--clrs-basic-blue);
    --glow: 0 0 5px #fff, 0 0 40px var(--clrs-basic-yellow);
    
    /* components */
    --component-item-name: var(--clrs-basic-blue);
    --component-item-hover: var(--clrs-basic-blue);
    
    --component-pagelist-location: var(--clrs-basic-blue);
    --component-search-loader-active: var(--clrs-basic-yellow);
    --component-search-loader-inactive: var(--bg-main);
    --component-search-results: var(--clrs-basic-yellow);

    --component-skin-button-glow: var(--clrs-neon-mint);
    --component-skin-preview: #c0d0f0;
    --component-skin-preview-button: #646a6d;
    --component-skin-preview-button-text: #B2CCD6;
    --component-skin-preview-button-hover: var(--text-linkHover);
    
    --component-file-name: var(--clrs-basic-orange);
    --component-file-extension: var(--clrs-basic-blue);
    --component-file-extras: var(--text-other);

    /* pages */
    --page-index-showIcon-glow: var(--clrs-neon-mint);
    --page-index-showIcon-text: #fff;


    --page-gallery-reset: var(--clrs-basic-red);

    --page-tools-link1: var(--clrs-basic-orange);
    --page-tools-link2: var(--clrs-basic-blue);
    --page-tools-link3: var(--clrs-basic-green);
    --page-tools-link4: var(--clrs-basic-purple);

    --page-tools-param1: var(--clrs-basic-green);
    --page-tools-param2: var(--clrs-basic-red);
    --page-tools-param3: var(--clrs-basic-blue);

    --page-tools-err: var(--clrs-basic-red);
}